include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include versioneer.py
include nvm/_version.py

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include docs *.svg *.jpg *.jpeg *.png *.gif *.pdf

graft nvm/data

global-exclude liwc2015a.json
exclude nvm/aux_spacy/data/PennebakerEtAl2015a/liwc2015a.json
